<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>fixmyproduct</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    {% load static %}
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">

    <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Reference to the brand and product dropdowns
          const positiveAspectContainer = document.getElementById('positive_aspects');
          const negativeAspectContainer = document.getElementById('negative_aspects');
          const spinner = document.getElementById('spinner');
          const errorContainer = document.getElementById('error');
          const suggestionContainer = document.getElementById('suggestion');

          function loadAspects() {
              // Fetch products based on the selected brand

              const selected_product = '{{ data.product }}';

              console.log(selected_product)

              spinner.classList.remove('d-none');
              positiveAspectContainer.innerHTML = '';
              suggestionContainer.innerHTML = '';
              negativeAspectContainer.innerHTML = '';

              errorContainer.innerHTML = '';


              fetch(`/get_aspects/"${selected_product}"`)
                  .then(response => response.json())
                  .then(data => {
                      // Clear existing products and add new products to the product dropdown
                      data.positive_aspects.forEach(aspect => {
                          const li = document.createElement('li');
                          li.innerHTML = aspect;
                          positiveAspectContainer.appendChild(li);
                      });
                      data.negative_aspects.forEach(aspect => {
                          const li = document.createElement('li');
                          li.innerHTML = aspect;
                          negativeAspectContainer.appendChild(li);
                      });
                      if (data.suggestion !== '') {
                        const h2 = document.createElement('h2');
                        h2.innerHTML = 'Suggestions';
                        suggestionContainer.appendChild(h2);
                        // const p = document.createElement('p');
                        // p.innerHTML = data.suggestion;
                        // suggestionContainer.appendChild(p);
                        const container = document.createElement('div');
                        container.classList.add('container');
                        const ol = document.createElement('ol');
                        data.suggestions.forEach(suggestion => {
                          const li = document.createElement('li');
                          li.innerHTML = suggestion;
                          ol.appendChild(li);
                        });
                        container.appendChild(ol);
                        suggestionContainer.appendChild(container);
                      }
         
                      console.log(data);
                      spinner.classList.add('d-none');
                  })
                  .catch(error => {
                      console.error('Error:', error);
                      errorContainer.innerHTML = 'Error loading reviews';
                      spinner.classList.add('d-none');
                  });
          }

          function loadBarChart(){
            const sel = '{{ data.product }}';
            console.log(sel);
            fetch(`/get_bar_data/${sel}`)
              .then(response => response.json())
              .then(data => {
                console.log(data);
                console.log("reached here");
                var ctx = document.getElementById('myChart');
                // eslint-disable-next-line no-unused-vars
                var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: [
                      '1 Star',
                      '2 Star',
                      '3 Star',
                      '4 Star',
                      '5 Star'
                    ],
                    datasets: [{
                      data: data,
                      lineTension: 0,
                      borderColor: '#3081D0',
                      backgroundColor: '#6DB9EF',
                      borderWidth: 2,
                      borderRadius: 5,
                      label: 'Ratings'
                    }]
                  },
                  options: {
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        }
                      }]
                    },
                    legend: {
                      display: true
                    },
                    responsive: true
                  }
                })
              })
              .catch(error => {
                console.error('Error:', error);
              })
          }

          loadAspects();
          loadBarChart();

      });
          

  </script>


  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">fixmyproduct</a>
  
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <!-- <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/">Back</a>
    </div>
  </div> -->
  <img src="{% static 'logo.png' %}" alt="logo" width="50" height="50">
</header>

<div class="container">
  <div class="row">

    <main class="col col-lg-9">
      <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ data.product }} - {{ data.brand }}</h1>
      </div>

      <div class="row">                
        <div class="container d-flex align-items-center justify-content-center">
            <div id="spinner" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div id="error"></div>
        </div>
      </div>
      <div class="row" id="suggestion">
        
      </div>
      <div class="row">
        <div class="col">
          <h2>Positive Aspects</h2>
          <ul id="positive_aspects">
          </ul>
        </div>
        <div class="col">
          <h2>Negative Aspects</h2>
          <ul id="negative_aspects">
          </ul>
        </div>
      </div>
    </main>

    <aside class="col col-lg-3">
      <div class="row">
        <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Key metrics</h1>
        </div>
        <p class="d-flex">
          {% for checked in data.checked %}
            {% if checked %}
              <span class="fa fa-star checked"></span>
            {% else %}
            <span class="fa fa-star "></span>
            {% endif %}
          {% endfor %}
        </p>

        <p>{{ data.avg_rating }} out of 5 stars</p>
        <p>{{ data.num_reviews }} reviews</p>
        <p>Your other products average at {{ data.brand_avg_rating }} out of 5 stars</p>
        <p>This product is in the top {{ data.top_n }} % of all products.</p>
      </div>
      <div class="row">
        <canvas class="my-4 w-100" id="myChart" width="600" height="400"></canvas>
      </div>
    </aside>
  </div>
  <div class="row">
    <h2>Most influential reviews</h2>
    <div class="accordion" id="accordion">
    {% for review in data.reviews %}
      
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ review.idx }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ review.idx }}" aria-expanded="false" aria-controls="collapse{{ review.idx }}">
              {{ review.review_votes }} people found this review helpful
            </button>
          </h2>
          <div id="collapse{{ review.idx }}" class="accordion-collapse collapse" aria-labelledby="heading{{ review.idx }}" data-bs-parent="#accordion">
            <div class="accordion-body">
              {{ review.review }}
            </div>
          </div>
        </div>
      
    {% endfor %}
  </div>

      
    
  </div>
</div>

    

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
      <script src="{% static 'dashboard.js' %}"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
