
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Fix my product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

    {% load static %}
    <link href="{% static 'cover.css' %}" rel="stylesheet">


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Reference to the brand and product dropdowns
            const brandDropdown = document.getElementById('brand');
            const productDropdown = document.getElementById('product');
            const responseContainer = document.getElementById('response');
            const spinner = document.getElementById('spinner');
            const errorContainer = document.getElementById('error');
            const improveButton = document.getElementById('improve');

            // Event listener for the brand dropdown
            brandDropdown.addEventListener('change', loadProducts);
            


            function loadProducts() {
                // Fetch products based on the selected brand
                const selected_brand = brandDropdown.value;
                fetch(`/get_products/${selected_brand}`)
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing products and add new products to the product dropdown
                        productDropdown.innerHTML = '';
                        console.log(data);
                        data.forEach(product => {
                            const option = document.createElement('option');
                            option.value = product;
                            option.text = product;
                            productDropdown.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            

        });
            

    </script>
</head>

<body class="text-center d-flex h-100 text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-5">
        <div>
          <h3 class="float-md-start mb-0">fixmyproduct</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
            <!-- <a class="nav-link" href="#">About</a> -->
            <img src="{% static 'logo.png' %}" alt="logo" width="50" height="50">
          </nav>
        </div>
      </header>
    
      <main class="container px-3 h-100">
        <!-- <h1>Fix your product</h1> -->
        <p class="lead">What do people think of your product? How can you improve it?</p>
        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p> -->

        <div class="container text-center h-100">
            <div class="row">
              <div class="col">
                <form action="{% url 'dashboard' %}" method="post">
                    {% csrf_token %}
                    
        
                    <div class="mb-3">
                        <label for="brand" class="form-label" >Your Brand</label>
                        <select class="form-select" id="brand" name="brand">
                            {% for brand in brands %}
                                <option value="{{ brand }}" {% if selected_brand == brand %}selected{% endif %} >{{ brand }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="mb-3">                
                        <label for="product" class="form-label">Your Product</label>
                        <select class="form-select" id="product" name="product">
                            {% for product in products %}
                                <option value="{{ product }}" {% if selected_product == product %}selected{% endif %} >{{ product }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" id="improve">Improve</button>
                      </div>
        
        
                </form>
              </div>

            </div>
            <div class="row">                
                <div class="container d-flex align-items-center justify-content-center">
                    <div id="spinner" class="spinner-border d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

          </div>


    

      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Brought to you by PH.</p>
      </footer>
    </div>
    

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
