<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello {{ name }} From Django Template!</title>
    <style>
        body {
            text-align: center;
            color: cornflowerblue
        }
    </style>
</head>
<body>
    <h1>Hello {{ name }} From Django Template!</h1>
</body>
</html>


